<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Host away Test Suite" parallel="classes" thread-count="2" >
    <test name="Test">
        <classes>
            <class name ="tests.FilterFormTest"/>
            <class name ="tests.AllListingPropertiesTest"/>
        </classes>
    </test>
</suite>